[plugin]
name: UMWL Geology

[files]
python_files:
    *.py
    ui/*.py
    utils/*.py
    processing_provider/*.py

# manually compiling with pyuic5 and pyrcc5 in justfile
compiled_ui_files:
resource_files: 

extras:
    metadata.txt
    icon.png

extra_dirs:

locales:

[help]
dir: 
target: 